[submodule "external/c_library_v2"]
	path = external/c_library_v2
	url = https://github.com/mavlink/c_library_v2
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio/
